.get-in-touch-section {
    align-items: center;
    background-color: #807777;
    padding: 50px;
  }
  .gjj{
    margin-top: -9px;
    margin-bottom: 14px;
  }
  .get-in-touch-section h2 {
    font-size: 36px;
    margin-bottom: 20px;
  }
  
  .get-in-touch-section p {
    font-size: 18px;
    margin-bottom: 15px;
  }
  
  .get-in-touch-section form {
    
    display: flex;
    flex-direction: column;
    max-width: 500px;
  }
  
  .get-in-touch-section label {
    font-size: 18px;
    margin-bottom: 10px;
  }
  
  .get-in-touch-section input[type="text"],
  .get-in-touch-section input[type="email"],
  .get-in-touch-section textarea {
    padding: 10px;
    margin-bottom: 20px;
    font-size: 16px;
    border: none;
    border-radius: 4px;
    box-shadow: 0px 2px 5px rgba(255, 244, 244, 0.84);
  }
  
  .get-in-touch-section textarea {
    height: 150px;
  }
  
  .get-in-touch-section button[type="submit"] {
    background-color: #24a528;
    color: #f1eded;
    padding: 12px 24px;
    font-size: 16px;
    font-weight: bold;
    border: none;
    border-radius: 4px;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.25);
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .get-in-touch-section button[type="submit"]:hover {
    background-color: #3e8e41;
  }
  label{
    text-align: left;
  }
  /* .get-in-touch-section {
    background-color: #1e1e1e; /* Set the background color */
    /* color: #fff; /* Set the text color */
    /* padding: 50px;
  } */ 
  /* p{
    text-align: center;
  }  */
  