*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

body{
    font-family: "poppins",sans-serif;
}


li{
    /* font-size: 20px; */
    list-style: none;
}

h3{
    font-size : 44px;
    line-height: 55px;
    color: #121212;
    font-weight: 600;
}

h6{
  font-size: 20px;
  line-height: 32px;
  color: #6c6c6c;
  margin-top: 16px;
  font-weight: normal;
}
.nav{
  position: fixed;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 1rem 6.5rem;
  background: transparent;
  transition: all 0.5s ease;
  z-index: 1000000;
}
.nav .navbar-toggler .toggle-icon{
   width: 27px;
   height: 3px;
   margin: 5px 0;
   position: relative;
   background-color: #121212;
   display: block;
   transition: all 0.3s ease-out 0s;
}
.navbar-toggler{
    display: none;
    border: none;
    outline: none;
}
.nav .menu-bar .menu-item{
    font:bold ;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.nav .menu-bar .menu-item li{
  margin: 0 15px;
}
.nav .menu-bar .menu-item li a{
  color: #2f2c2c;
  font-size: 18px;
  font-weight: 600;
}
.nav .menu-bar .menu-item li a:hover{
  color: #4F47E4;

}
.nav .nav-social{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.nav .nav-social span{
  font-size: 18px;
  font-weight: 600;
  padding-right: 10px;
  color:#2f2c2c;
}
.nav .nav-social ul{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.nav .nav-social ul li{
  margin: 0 7px;
}
.nav .nav-social ul li a{
   color:#2f2c2c;
   font-size: 22px;
}
.back{

  background:linear-gradient(0deg, rgba(0, 255, 182, 0.60), rgba(255, 0, 150, 0.3)), url(./Pros\ and\ Cons\ of\ Studying\ with\ Friends\ or\ Groups.jpg);
      background-size:cover;

  width: 100%;
  height: 120vh;
  background-attachment: fixed;
  position: relative;
}
.logo img{
  mix-blend-mode: color-burn;
  background-color: black;
  width: 100px;
  border-radius: 50px;
}
.back .hero-shape{
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  
}
.back .hero-shape img{
  background: transparent;
  border-radius: 0px;
  display: block;
  border-radius: 20px;
  width: 100%;
}
.back .overlay{
  background: linear-gradient(20deg, rgba(231,234,239,1) 13%, rgba(176,189,188,1) 43%, rgba(248,249,251,1) 75%);
  width: 100%;
  /* background: transparent; */
}
.hero-txt{
  position: absolute;
  top: 42%;
  left: 50%;
  transform: translate(-50%,-50%);
  text-align: center;
}
.hero-txt h6{
  color: #222223;
}
.hero-txt h3{
  color: #050505c9;
}
.main-btn{
  display: inline-block;
  font-weight: 700;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  border: 2px solid transparent;
  padding: 0 32px;
  font-size: 16px;
  line-height: 48px;
  color: #0067f4;
  position: relative ;
  cursor: pointer;
  transition: all 0.4s ease-out 0s;
  z-index: 5;
}
.hero-txt .h-btn li{
  display: inline-block;
  margin: 10px 10px 0 0;
}
.hero-txt .h-btn li a.main-btn{
  border-radius: 50px;
  overflow: hidden;
  background-color: #fff;
  border: 0;
  line-height: 50px;
  box-shadow: 0 3px 6px 0 rgba(0,0,0,0,16);

}
.hero-txt .h-btn li a.main-btn{
  margin-left: 5px;
  color: #f0f1f5;
}
.hero-txt .h-btn .btn-one{
  color: #fff;
}
.hero-txt .h-btn .btn-one::before{
  position: absolute;
  content: "";
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(to right,#535cf1,#a147e4);
  z-index: -1;
  transition: all 0.3s ease;
  background-position: right center;
}
.hero-txt .h-btn .btn-two{
  color: #fff;
}
.hero-txt .h-btn .btn-two::before{
  position: absolute;
  content: "";
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(to right,#535cf1,#a147e4);
  z-index: -1;
  transition: all 0.3s ease;
  background-position: right center;
}

/* .fa fa-class{
  width: 2;
  height: 2;
}
.fa {
    padding: 20px;
    font-size: 60px;
    width: 80px;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
  } */
  /* i{
    width: 20px;
    font-size: 20px;
    height: 20px;
  } */
  
  /* .fa:hover {
      opacity: 0.7;
  }
  
  .fa-facebook {
    background: #3B5998;
    color: white;
  }
  
  .fa-twitter {
    background: #55ACEE;
    color: white;
  }
  
  .fa-google {
    background: #dd4b39;
    color: white;
  }
  
  .fa-linkedin {
    background: #007bb5;
    color: white;
  }
  
  .fa-youtube {
    background: #bb0000;
    color: white;
  }
  
  .fa-instagram {
    background: #125688;
    color: white;
  }
   */
   /* .fa-facebook {
    background: #3B5998;
    color: white;
  } */